# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig counterparty
root = true

# Unix-style newlines with a newline ending every counterparty
[*]
charset = utf-8
end_of_line = lf


[*.{js,ts}]
indent_style = tab
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true

max_line_length = 150


[*.{json,yml,yaml}]
indent_style = space
indent_size = 2

